.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;        
    height: 125px;
    border-top: 4px solid var(--bordes);
    box-shadow: 0px 5px 29px 0px #2271D1B2;
}

.footer img{
    width: 168px;
    height: 40px;
}